/*debug*/
/* [class*='col-'] {
  border: 1px solid black;
} */

/*REGOLE GENERALI*/
.center-cont {
  width: 80%;
  margin: auto;
}



/*REGOLE HEADER*/
header .navbar {
margin-bottom: 0;
}

header .navbar.navbar-default {
  background-color: white;
  border: none;
  font-family: helvetica;
}

header .navbar-default .navbar-nav>li>a {
    color: #031B4E;
    font-weight: 600;
}

header .btn.btn-default {
  margin-top: 7px;
  border-color: #0069FF;
  font-size: 16px;
  color: #0069FF;
}

header hr {
    margin: 0;
    border: 1px solid #eee;
}

header .nav-menu-padding {
  padding: 25px 0;
}

#logo {
  width: 270px;
  padding-left: 15px;
  padding-right: 35px;
}

.nav-top-text {
  font-size: 14px;
}

.nav-menu-text {
  font-size: 16px;
}

.padding {
  padding: 30px 0;
}

/*SEZIONE WELCOME*/
.welcome-style {
  background-color: #0049FF;
  font-family: verdana;
  padding: 5% 0;
}

.welcome-style h1 {
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.welcome-style p {
  font-size: 25px;
  font-weight: 400;
  color: white;
  padding-bottom: 4%;
}

.signup-box {
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.signup-box .input-group .form-control {
  height: 55px;
  font-size: 18px;
  margin-bottom: 15px;
}

.signup-box .btn-default {
  width: 100%;
  text-align: center;
  background-color: #15CD72;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: 0;
  height: 55px;
  margin-bottom: 15px;
}

.signup-box h2 {
  font-size: 30px;
  font-weight: 600;
  color: #031B4E;
  padding: 20px 0;
}

.signup-box p {
  color: #031B4E;
  font-size: 14px;
  padding-bottom: 15px;
}

/*SEZIONE LOGO-LIST*/
.logo-list-style {
  background-color: #F3F5F9;
  font-family: verdana;
  text-align: center;
  padding-top: 3%;
}

.logo-list-style img {
  /* max-width: auto; */
  height: 95px;
}

.logo-list-style h2 {
  text-transform: uppercase;
  color: #939EB5;
  font-size: 20px;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

.logo-list-style p {
  font-size: 20px;
  margin: 0;
  padding-top: 4%;
  padding-bottom: 5%;
}

/*SEZIONE DESIGNED e DEVELOPMENT*/
.des-e-dev-style {
  background-color: #F3F5F9;
  font-family: verdana;
  text-align: center;
  padding-bottom: 5%;
}

.des-e-dev-style h2, .business-style h2 {
  color: #031B4E;
  font-size: 38px;
  font-weight: 600;
  padding-top: 5%;
  padding-bottom: 1%;
}

.des-e-dev-style p {
  color: #4B5C81;
  font-size: 23px;
  font-weight: 400;
  padding-bottom: 3%;
}

#rockerbox {
  width: 900px;
}

/*SEZIONE BUSINESS*/
.business-style {
  background-color: white;
  font-family: verdana;
  padding-bottom: 5%;
}

.business-style img {
  margin-top: 30px;
}

.business-style h3 {
  color: #031B4E;
  font-size: 20px;
  font-weight: 600;
}

.business-style p {
  color: #4B5C81;
  font-size: 18px;
  font-weight: 400;
  padding: 2% 0;
}
